*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(236, 232, 226);
}

nav ,li a {
    font-size: 1.3rem;
    border: 10px 10px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px;
}

.logo{
    border-style: outset;
    font-size: 1.8rem;
    color: rgb(110, 167, 26);
    cursor: pointer;
}

.navbar{
    list-style: none;
}

.navbar li {
    display: inline-block;
}

.navbar li a{
    text-decoration: none;
    padding: 6px 10px;
    color: black;
    margin: 10px 10px;
    transition: all 0.2s ease-in 0s;
}

.navbar li a:hover{
    background-color: rgb(10, 161, 10);
    color: white;
    transition: all 0.2s ease-in 0s;
}


.cta button{
    font-size: 1.2rem;
    text-decoration: none;
    color: black;
    transition: all 0.2s ease-in 0s;
    padding: 6px 10px;
    border: 0px;
    background-color: rgb(10, 161, 10);
    color: white;
}

/* hero sectiob */

.hero-section{
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.hero-section h1, p, a{
    margin-left: 30px;
}


.hero-section h1{
    font-size: 6rem;
    width: 100vh;
    color: rgb(116, 167, 39);
}

.hero-section p {
    font-size: 0.9rem;
    width: 100vh;
    color: rgba(0, 0, 0, 0.692);
    margin-top: 10px;
}

.hero-section button{
    margin-top: 25px;
    font-size: 1.5rem;
}

.image{
    width: 30%;
    position: absolute;
    align-self: flex-end;
    margin-right: 10%;
}

.side1-image{
    width: 25vh;
    right: 23%;
    top: 1%;
}

.side2-image {
    width: 25vh;
    right: -8%;
    top: 30%;
}

.side3-image {
    width: 25vh;
    right: 23%;
    top: 60%;
}

.animation{
    transition: all 0.3s ease-in 0s;
}

.animation:hover{
    transform: scale(1.2);
    /* transform: rotate(20deg); */

}


/* social section  */

.social-section{
    background-color: antiquewhite;
    height: 50vh;
    display: flex;
    flex-direction: column;
}

.social-section h2{
    align-self: center;
    border: 1px solid;
    margin-top: 2%;
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0, 0, 0, 0.87);

}