*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(images/charles-forerunner-3fPXt37X6UQ-unsplash-min.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    font-family: 'Poppins', sans-serif;
}
@media (max-width: 768px) {
    body {
        background-attachment: fixed;
    }
}

html {
    height: 100%;
    overflow-x: hidden;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 10%;
    width: 100%;
    height: 50px;
    background: rgba(0, 0, 0, 0.356); /* optional: adds a semi-transparent background */
    z-index: 1000;
    position: fixed;
    top: 0;
    bottom: 0;
}

.logo{
    font-size: 1.7rem;
    color: white;
    cursor: pointer;
}

header li a{
    font-size: 1.2rem;
    font-weight: 300;
    color: white;
    text-decoration: none;
}

.navbar li{
    list-style: none;
}

.navbar li{
    display: inline-block;
}

.navbar li a{
    margin: 0 20px;
    transition: all 0.3s ease 0s;
}

.navbar li a:hover{
    color: rgb(255, 255, 255);
    border-bottom: 2px solid white;
    padding-bottom: 5px;
    font-size: 1.3rem; ;
}


.cta button{
    padding: 8px 20px;
    background: rgb(255, 255, 255);
    border: none;
    border-radius: 20px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.cta button:hover{
    background: rgb(200, 200, 200);
}

.hero_section{
    display: flex;
    flex-direction: column;
    height: 80vh;
    justify-content: center;
    margin-left: 5%;
    margin-top: 60px;
}

.hero_section h3{
    margin-bottom: 20px;
}

.hero_section h3 #adven{
    color: rgb(0, 0, 0);
    font-size: 1.2rem;
    background-color: white;
    border-radius: 20px;
    padding: 3px 15px;
}

.hero_section h3 #date {
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
}

.hero_section h1{
    font-size: 3rem;
    color: rgb(255, 255, 255);
    margin-bottom: 3px;
    width: 70%;
}

.hero_section p {
    width: 60%;
    color: rgba(255, 255, 255, 0.87);
}

.section2{
    background-color: white;
    margin-top: 120px;
}

.images{
    width: 60%;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: transform 0.3s ease;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 30%;
}

.card p {
    margin-top: 15px;
    color: #333;
    width: 100%;
}

.card:hover{
    transform: translateY(-10px);
}


.cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 10%;
    gap: 20px;
    flex-wrap: wrap;
}
